myfirstapp/src/main/app/02-context-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="02-context-demoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/context" doc:name="HTTP"/>
        <expression-component doc:name="Expression"><![CDATA[payload = 'IP is ' + server.ip 
					+ '<br> Server Time is ' + server.dateTime
					+ '<br> Running Java ' + server.javaVersion
					+ '<br><br> Whereas mule home is ' + mule.home]]></expression-component>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
