myfirstapp/src/main/app/05-rest-client-raml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:request-config name="HTTP_Request_Configuration1" host="localhost" port="7070" basePath="/rest" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="productsservice.raml"/>
    </http:request-config>
    <flow name="05-rest-client-ramlFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/products" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration1" path="/products/{productnamecontains}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="productnamecontains" value="#[message.inboundProperties.'http.query.params'.pname]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
