myfirstapp/src/main/app/10-performance.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <queued-asynchronous-processing-strategy name="Queued_Asynchronous_Processing_Strategy1" maxThreads="500" minThreads="50" threadTTL="5000" poolExhaustedAction="WAIT" maxBufferSize="200" queueTimeout="5000" maxQueueSize="100" doc:name="Queued Asynchronous Processing Strategy">
        <file-queue-store/>
    </queued-asynchronous-processing-strategy>
    <flow name="10-performanceFlow1" processingStrategy="Queued_Asynchronous_Processing_Strategy1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="processesQ" doc:name="processesQ"/>
        <component class="com.myfirstapp.EnricherAuctionComponent" doc:name="Enricher"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <component class="com.myfirstapp.HighestBidderAuctionComponent" doc:name="Highest"/>
    </flow>
    <flow name="10-performanceFlow">
        <file:inbound-endpoint path="D:\test\mule-inputs2" responseTimeout="10000" doc:name="File"/>
        <file:file-to-string-transformer doc:name="File to String"/>
        <expression-component doc:name="Expression"><![CDATA[String[] bids = payload.split("\n");
payload = java.util.Arrays.asList(bids);]]></expression-component>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="processesQ" doc:name="processesQ"/>
    </flow>
</mule>
