myfirstapp/src/main/app/10-performance-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="10-performance-2Flow1" processingStrategy="Queued_Asynchronous_Processing_Strategy1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="processQ" doc:name="processQ"/>
        <component class="com.myfirstapp.EnricherAuctionComponent" doc:name="Enricher"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <component class="com.myfirstapp.HighestBidderAuctionComponent" doc:name="Highest"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="myreplyq" doc:name="myreplyq"/>
    </flow>
    <flow name="10-performance-2Flow2">
        <vm:inbound-endpoint exchange-pattern="one-way" path="bidsQ" doc:name="bidsQ"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="processQ" doc:name="processQ"/>
    </flow>
    <flow name="10-performance-2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/bids" allowedMethods="POST" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <expression-component doc:name="Expression"><![CDATA[String[] bids = payload.split("\n");
payload = java.util.Arrays.asList(bids);]]></expression-component>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="bidsQ" doc:name="bidsQ"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="myreplyq" doc:name="myreplyq"/>
        </request-reply>
    </flow>
</mule>
