myfirstapp/target/classes/3myjukebox.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="3myjukebox-httpListenerConfig" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="3myjukebox-config" raml="3myjukebox.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="3myjukebox-main">
        <http:listener config-ref="3myjukebox-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="3myjukebox-config" doc:name="APIkit Router"/>
        <exception-strategy ref="3myjukebox-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="3myjukebox-console">
        <http:listener config-ref="3myjukebox-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="3myjukebox-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/artists:3myjukebox-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;artistId&quot;: &quot;110e8300-e32b-41d4-a716-664400445500&quot;,&#xA;    &quot;artistName&quot;: &quot;Daft Punk&quot;,&#xA;    &quot;description&quot;: &quot;French electronic music duo consisting of musicians Guy-Manuel de Homem-Christo and Thomas Bangalter&quot;,&#xA;    &quot;imageURL&quot;: &quot;http://travelhymns.com/wp-content/uploads/2013/06/random-access-memories1.jpg&quot;,&#xA;    &quot;nationality&quot;: {&#xA;      &quot;countryCode&quot;: &quot;FRA&quot;,&#xA;      &quot;countryName&quot;: &quot;France&quot;&#xA;    }&#xA;  },&#xA;  {&#xA;    &quot;artistId&quot;: &quot;110e8300-e32b-41d4-a716-229932554400&quot;,&#xA;    &quot;artistName&quot;: &quot;Pink Floyd&quot;,&#xA;    &quot;description&quot;: &quot;English rock band that achieved international acclaim with their progressive and psychedelic music.&quot;,&#xA;    &quot;imageURL&quot;: &quot;http://www.billboard.com/files/styles/promo_650/public/stylus/1251869-pink-floyd-reunions-617-409.jpg&quot;,&#xA;    &quot;nationality&quot;: {&#xA;      &quot;countryCode&quot;: &quot;ENG&quot;,&#xA;      &quot;countryName&quot;: &quot;England&quot;&#xA;    }&#xA;  },&#xA;  {&#xA;    &quot;artistId&quot;: &quot;11032be3-41d4-4455-a716-664400a71600&quot;,&#xA;    &quot;artistName&quot;: &quot;Radiohead&quot;,&#xA;    &quot;description&quot;: &quot; English rock band from Abingdon, Oxfordshire, formed in 1985&quot;,&#xA;    &quot;imageURL&quot;: &quot;http://www.wired.com/images_blogs/photos/uncategorized/2007/10/01/radiohead.jpg&quot;,&#xA;    &quot;nationality&quot;: {&#xA;      &quot;countryCode&quot;: &quot;ENG&quot;,&#xA;      &quot;countryName&quot;: &quot;England&quot;&#xA;    }&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/songs:3myjukebox-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;songId&quot;: &quot;550e8400-e29b-41d4-a716-446655440000&quot;,&#xA;    &quot;songTitle&quot;: &quot;Get Lucky&quot;&#xA;  },&#xA;  {&#xA;    &quot;songId&quot;: &quot;550e8400-e29b-41d4-a716-446655440111&quot;,&#xA;    &quot;songTitle&quot;: &quot;Loose yourself to dance&quot;&#xA;  },&#xA;  {&#xA;    &quot;songId&quot;: &quot;550e8400-e29b-41d4-a716-446655440222&quot;,&#xA;    &quot;songTitle&quot;: &quot;Gio sorgio by Morodera&quot;&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/albums:3myjukebox-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/songs/file-content:3myjukebox-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/albums/{albumId}:3myjukebox-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/albums/{albumId}/songs:3myjukebox-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/artists/{artistId}:3myjukebox-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/artists/{artistId}/albums:3myjukebox-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/songs/{songId}:3myjukebox-config">
        <set-payload value="{&#xA;  &quot;songId&quot;: &quot;550e8400-e29b-41d4-a716-446655440000&quot;,&#xA;  &quot;songTitle&quot;: &quot;Get Lucky&quot;,&#xA;  &quot;duration&quot;: &quot;6:07&quot;,&#xA;  &quot;artist&quot;: {&#xA;    &quot;artistId&quot;: &quot;110e8300-e32b-41d4-a716-664400445500&quot;&#xA;    &quot;artistName&quot;: &quot;Daft Punk&quot;,&#xA;    &quot;imageURL&quot;: &quot;http://travelhymns.com/wp-content/uploads/2013/06/random-access-memories1.jpg&quot;&#xA;  },&#xA;  &quot;album&quot;: {&#xA;    &quot;albumId&quot;: &quot;183100e3-0e2b-4404-a716-66104d440550&quot;,&#xA;    &quot;albumName&quot;: &quot;Random Access Memories&quot;,&#xA;    &quot;imageURL&quot;: &quot;http://upload.wikimedia.org/wikipedia/en/a/a7/Random_Access_Memories.jpg&quot;&#xA;  }&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/albums:3myjukebox-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/artists:application/json:3myjukebox-config">
        <set-payload value="{ &quot;message&quot;: &quot;The artist has been properly entered&quot; }" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/songs:application/json:3myjukebox-config">
        <set-payload value="{ &quot;message&quot;: &quot;The song has been properly entered&quot; }" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/songs/file-content:3myjukebox-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="3myjukebox-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
